@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Order List</h1>

    <div class="row">
        <div class="col-12">
            <hr /><hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="listMessage"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Chat.js"></script>

